@model ES2_TP.Models.Talento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Talento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="precoHora" class="control-label"></label>
                <input asp-for="precoHora" class="form-control" />
                <span asp-validation-for="precoHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horasExperiencia" class="control-label"></label>
                <input asp-for="horasExperiencia" class="form-control" />
                <span asp-validation-for="horasExperiencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pais" class="control-label"></label>
                <input asp-for="pais" class="form-control" />
                <span asp-validation-for="pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div>
                <select asp-for="Categoria" asp-items="ViewBag.Categoria"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
