@model IEnumerable<ES2_TP.Controllers.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
    <a asp-action="Relatorio">Relatório com preço médio mensal por categoria de talento e por skill</a>
    <p></p>
    <a asp-action="RelatorioSkill">Relatório com preço médio mensal por país</a>
</p>
</body>
</html>
