@model List<ES2_TP.Controllers.RelPrecoHora2>

@{
    ViewData["Title"] = "RelatorioSkill";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatório com preço médio mensal por skill</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>
            <h2>Skill</h2>
        </th>
        <th>
            <h2>Preço total</h2>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.PrecoTotal)
            </td>
            <th></th>
        </tr>
    }
    </tbody>   
</table>
<div>
    <a asp-action="Index">Voltar</a>
</div>
</body>
</html>