@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><b>Aplicação de Gestão de Talentos de IT</b></p>
    <p>Faça aqui toda a sua Gestão de projeto</p>
</div>
